@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "redhat";
  /* Choose a descriptive name */
  src: local("redhat"), url("./fonts/redhatdisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
  position: absolute;;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff1d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121; 
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  font-family: "redhat";
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.redhat {
  font-family: "redhat";
}

.container-x {
  @apply max-w-7xl mx-auto;
}